hr {
  color: #000000;
  background-color: #000000;
  height: 2px;
}
.site {
  width: 100%;
}
.row {
  width: 80%;
}
.header {
  width: 100%;
}
nav .topbar {
  width: 100%;
}
.top-bar-section ul li:hover > a {
  background: #006600 !important; 
}