* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
}

div {
	width: 100%;
	padding: 10px;
}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 10px !important;
}

div.header {
	height: 200px;
	background-color: #000000;
}

div.navbar {
	height: 30px;
	background-color: #000000;
}

div.body {
	padding: 10px !important;
}

div.content {
	width: 75% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #000000;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #000000;
}

div.footer {
	height: 100px;
	background-color: #000000;
}

span.Orange{
	color: #ED7926;
}

p.Orange{
	color: #ED7926;
}
