---
layout: pages
title: Art
permalink: /art
---


 
   <!-- Navbar ends here -->
<!--Animation Starts -->
    <div class = "container first-container">
     <div class = "col-md-12">
       <h2 class="about-first">Paly Robotics Art Team</h2>
       <hr>
       <h3 class = "Animation-title">Animation</h3>      
     </div>
    </div>
<!--Elaine work done -->
    <div class="container">
      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.No-Capes.title}}</h3>
        <p>{{site.data.art-page.Animation.No-Capes.paragraph}} <a class = "paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Capes.link}}">{{site.data.art-page.Animation.No-Capes.link-des}}</a></p>
      </div>
    
      <div class = "col-md-6">
          <img class="pull-right first-img" src= "{{site.data.art-page.Animation.No-Capes.img}}" height = "250" width = "380">
      </div>
  
      <div class="col-md-12">
          <br>
          <br>
          <br>
      </div>

      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.Remi.title}}</h3>
        <p>{{site.data.art-page.Animation.Remi.paragraph}} <a class="paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Capes.link}}">{{site.data.art-page.Animation.No-Capes.link-des}}</a></p>

      </div>

      <div class = "col-md-6">
          <img class= "pull-right" src= "{{site.data.art-page.Animation.Remi.img}}" height = "250" width = "380">
      </div>
  
      <div class="col-md-12">
          <br>
          <br>
          <br>
      </div>


      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.No-Capes.title}}</h3>
        <p>{{site.data.art-page.Animation.No-Capes.paragraph}} <a class = "paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Capes.link}}">{{site.data.art-page.Animation.No-Capes.link-des}}</a></p>
      </div>
    
      <div class = "col-md-6">
          <img class="pull-right first-img" src= "{{site.data.art-page.Animation.No-Capes.img}}" height = "250" width = "380">
      </div>
    </div>

<!--Graphic Design Section-->
   
<!--Elaine Idea-->
  <div class="container">
      <div class="col-md-12">
        <hr>
        <h3 class = "Animation-title">{{site.data.art-page.Graph-Des.title}}</h3><br>
      </div>

    <div class="row">
    {% assign pic = 0 %}
    {% for item in site.data.art-page.Graph-Des-img %}
        <div class="col-md-4 extra-padding">
            <img class="img-responsive" src="{{item.img}}">
            <h4>{{item.title}}</h4>
            <p class="paragraph-circle">{{item.paragraph}}</p>
        </div>
    {% endfor %}
    </div>


    <div class = "row">
    {% assign pic = 0 %}
    {% for item in site.data.art-page.Graph-Des-img-2 %}
        <div class="col-md-4 extra-padding">
            <img class="img-responsive" src="{{item.img}}">
            <h4>{{item.title}}</h4>
            <p class="paragraph-circle">{{item.paragraph}}</p>
        </div>
    {% endfor %}
        
  	</div>
  
  
    <hr class = "padding">
    
  <!--Idea ends-->
<!--StoryTelling Starts-->

  <div class = "container">
    
        <div class = "col-md-6">
          
          <h3 class>{{site.data.art-page.Vary.title}}</h3>
          <p>{{site.data.art-page.Vary.paragraph}}</p>
        </div>
      

        <div class = "col-md-6">
            <img class="pull-right" src= "{{site.data.art-page.Vary.img}}" height = "280" width = "450">
        </div>
  
  </div>
</div>

 


  <style>
    h2.about-first {
      font-family:'Poppins',sans-serif;
      font-size:45px;
      text-align:center;
    }
    .first-container  {
      padding-top:150px;
    }
    .container {
      padding-left:15px;
      padding-right:15px;
    }
    p{
      font-family:'Poppins',sans-serif;
      font-size:20px;
    }
    hr {
      margin-bottom:50px;
    }
    
    h3{
      font-family: 'Poppins',sans-serif;
      font-size: 35px;
      margin-top:-15px;
      margin-bottom:20px;
    }


    h3.Animation-title{
      text-align: center;
      font-size:35px;
      margin-bottom:25px;
    }

    .extra-padding{
      padding-bottom:45px;
    }    

    hr.padding{
      margin-top: 20px;
    }

    

  </style>


