---
layout: pages
title: Art
permalink: /art
---


 
   
<!--Animation Starts -->
    <div class = "container first-container">
     <div class = "col-md-12">
       <h2 class="about-first">Paly Robotics Art Team</h2>
       <hr>
       <h3 class = "Animation-title">Animation</h3>      
     </div>
    </div>
<!--Elaine work done -->
    <div class="container">
      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.No-Capes.title}}</h3>
        <p>{{site.data.art-page.Animation.No-Capes.paragraph}} <a class = "paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Capes.link}}">{{site.data.art-page.Animation.No-Capes.link-des}}</a></p>
      </div>
    
      <div class = "col-md-6">
          <img class="pull-right first-img img-responsive" src= "{{site.data.art-page.Animation.No-Capes.img}}" height = "250" width = "380">
      </div>
  
      <div class="col-md-12">
          <br>
          <br>
          <br>
      </div>

      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.Remi.title}}</h3>
        <p>{{site.data.art-page.Animation.Remi.paragraph}} <a class="paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Capes.link}}">{{site.data.art-page.Animation.No-Capes.link-des}}</a></p>

      </div>

      <div class = "col-md-6">
          <img class= "pull-right img-responsive" src= "{{site.data.art-page.Animation.Remi.img}}" height = "250" width = "380">
      </div>
  
      <div class="col-md-12">
          <br>
          <br>
          <br>
      </div>


      <div class = "col-md-6">
        <h3>{{site.data.art-page.Animation.No-Dis.title}}</h3>
        <p>{{site.data.art-page.Animation.No-Dis.paragraph}} <a class = "paragraph-links" target= "_blank" href = "{{site.data.art-page.Animation.No-Dis.link}}">{{site.data.art-page.Animation.No-Dis.link-des}}</a></p>
      </div>
    
      <div class = "col-md-6">
          <img class="pull-right first-img img-responsive" src= "{{site.data.art-page.Animation.No-Dis.img}}" height = "250" width = "380">
      </div>
    </div>

<!--Graphic Design Section-->
   
<!--Elaine Idea-->
  <div class="container">
      <div class="col-md-12">
        <hr>
        <h3 class = "Animation-title">{{site.data.art-page.Graph-Des.title}}</h3><br>
      </div>

    <div class="row">
    {% assign pic = 0 %}
    {% for item in site.data.art-page.Graph-Des-img %}
        <div class="col-md-4 extra-padding">
            <img class="img-responsive" src="{{item.img}}">
            <h4>{{item.title}}</h4>
            <p class="paragraph-circle">{{item.paragraph}}</p>
        </div>
    {% endfor %}
    </div>


    <div class = "row">
    {% assign pic = 0 %}
    {% for item in site.data.art-page.Graph-Des-img-2 %}
        <div class="col-md-4 extra-padding">
            <img class="img-responsive" src="{{item.img}}">
            <h4>{{item.title}}</h4>
            <p class="paragraph-circle">{{item.paragraph}}</p>
        </div>
    {% endfor %}
        
  	</div>
  
  
    <hr class = "padding">
    
  <!--Idea ends-->
<!--StoryTelling Starts-->

  <div class = "container">
    
        <div class = "col-md-6">
          
          <h3 class>{{site.data.art-page.Vary.title}}</h3>
          <p>{{site.data.art-page.Vary.paragraph}}</p>
        </div>
      

        <div class = "col-md-6">
            <img class="pull-right img-responsive" src= "{{site.data.art-page.Vary.img}}" height = "280" width = "450">
        </div>
  
  </div>
</div>

 

<link href="/assets/css/art.stylesheet.css" rel="stylesheet">


