---
layout: home
title: Mini-Classes
permalink: miniclasses/
---

<div class="row">
  <div class="12 columns">
    <!-- Header -->
    <h2>Mini-Classes</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <!-- About mini-classes -->
    <h5>About Mini-Classes</h5>
    <p>At robotics, one of our goals to is to pass on our knowledge to younger students. One way we do this is by teaching mini-classes. At robotics, students sign up to teach other students a robotics-related topic. This allows students to teach other students what they feel they know best. Students are also encouraged to ask robotics veterans to teach a mini-class on a subject they wish they knew better. During sign-ups, students sign up for classes whose subjects they wish to learn. A list of mini-classes, and their times, are to the below.</p>
    <br />
    <h5>To Be Determined</h5>
    <ul>
      <li>Git shell tutorials</li>
      <li>Laser cutter basics</li>
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <!-- Picture -->
    <img src="/assets/img/photos/photo/photo_3.JPG" />
    <br class="show-for-medium-up" />
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table width="100%">
      <tr>
	  <td width="20%"><b>Thursday</b></td>
	  <td width="20%"><b>Saturday Morning</b></td>
	  <td width="20%"><b>Saturday Afternoon</b></td>
	  <td width="20%"><b>Sunday</b></td>
      </tr>
      <tr>
	<td>Electronics</td>
	<td>Basic milling</td>
	<td>CAD</td>
	<td>CAD</td>
      </tr>
      <tr>
	<td>CNC, soldering, power machinery</td>
	<td>Welding</td>
	<td>Pneumatics</td>
	<td>Project management website</td>
      </tr>
      <tr>
	<td>Robot programming</td>
	<td>Server management</td>
	<td>Robot programming</td>
      </tr>
    </table>
  </div>
</div>

<!-- Sideways yaml code
<div class="row">
  <div class="large-12 columns">
    <table width="100%">
      {% for day in site.data.miniclasses.days %}
      <tr>
	<td>
	  <strong>{{ day.name }}</strong>
	</td>
	{% for class in day.classes %}
	<td>
	  {{ class.name }}
	</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
-->
