--- 
  layout: pages
  title: Our Robots 
  permalink: /robots/
---

<link rel="stylesheet" type="text/css" href="/assets/css/robots.stylesheet.css">

<div class="container">
    <div class = "col-md-12">   
        <h2 class="robots-title">Our Robots</h2>
        <hr class="top-hr"/>
    </div>
</div>

<div class="container">
	<div class="col-md-2">
	  <ul class="nav nav-pills nav-stacked">
	  	<li class="active"><a class="menu" data-toggle="tab" href="#2018">2018</a></li>
	    <li><a class="menu" data-toggle="tab" href="#2017">2017</a></li>
	    <li><a class="menu" data-toggle="tab" href="#2016">2016</a></li>
	  </ul>
	</div>
	
	<!-- loops through each robot -->
	<div class="tab-content">
		{% for item in site.data.robots %}
		<div class="tab-pane fade in {{item.active}}" id="{{item.year}}">
			<div class="col-md-4">
				<h3>{{item.title}}</h3>
				<img class="img-responsive vali" src="{{item.image}}">
				{% if item.title == "Forseti" %}
				<button type="button" class="btn btn-primary">Toggle Elevator</button>
				{% endif %}
 			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 inner">
						<h4>Specifications</h4>
						<ul class="unstyled">
							<!-- loops through robot specifications -->
							{% for spec in item.Specifications %}
							<li class="specifications"><span class="label">{{spec.specname}}</span> {{spec.spec}}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-6 inner">
						<h4>Competition History</h4>
						<ul class="unstyled">
							<!-- loops through each competition -->
							{% for comp in item.CompHistory %}
							<li class="specifications"><span class="label">{{comp.competition}}</span> {{comp.achievement}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 inner">
						<h4>Robot Abilities</h4>
						<ul>
							{% for abilities in item.RobotAbilities %}
							<li class="abilities">{{abilities.ability}}
							{% endfor %}
						</ul>
					</div>
				</div>
 			</div>
		</div>
		{% endfor %}
	</div>
</div>


			<!--<div class="sketchfab-embed-wrapper"><iframe width="480" height="300" src="https://sketchfab.com/models/f20cfe650e484c748ef532f702fd8d0b/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe></div>-->