---
layout: pages
title: Summer Camp 2017
permalink: /summercamp-2017/
---

<!-- Body begins here -->

    <link rel = "stylesheet" type = "text/css" href = "/assets/css/summercamp.stylesheet.css">


    <div class = "container">
        <div class = "col-md-12">   
            <h2 class="summercamp-title">Summer Camp 2017</h2>
            <hr class="one-hr"/>
        </div>
    </div>
    <div class="container summer-2016">
        <div class="col-md-12">
            <ul class="nav nav-pills red">
                <li class="active"><a class="menu" data-toggle="tab" href="#about-the-camp">About the Camp</a></li>
                <li><a class="menu" data-toggle="tab" href="#sessions">Sessions</a></li>
                <li><a class="menu" data-toggle="tab" href="#faq">FAQ</a></li>
            </ul>
        </div>
    </div>

<div class="tab-content">
    <!-- About the Camp Starts here -->
    <div class="container tab-pane fade in active" id="about-the-camp">
        <br><br>
        <div class="row less-marg">
            <div class="col-md-7">
                <p class="summercamp-2016">{{site.data.summercamp-2017.AboutTheCamp1.paragraph1}}</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Weeks Offered</td><td>Week 1: July 24 - 28<br>Week 2: July 31 - August 4</td>
                        </tr>
                        <tr>
                            <td>Time</td><td>9 AM - 3 PM</td>
                        </tr>
                        <tr>
                            <td>Location</td><td>The Paly Robotics Lab (Room 903 at Palo Alto High School)</td>
                        </tr>
                        <tr>
                            <td>Recommended Donation</td><td>$350 per week <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="E97TMT658F8BE"><input type="image" display = "inline-block" src="/assets/img/summercamp/paypalbtn.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"></form></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="{{site.data.summercamp-2017.AboutTheCamp1.image1}}">
            </div>
            <div class="col-md-12">
                <hr class="special-hr">
            </div>
        </div>
        <div class="row less-marg">
            <br><br>
            <div class="col-md-4">
                <img class="img-responsive" src="{{site.data.summercamp-2017.AboutTheCamp1.image2}}">
            </div>
        {% for item in site.data.summercamp-2017.AboutTheCamp2 %}
            <div class="col-md-8">
                <h3 class="summercamp-header-2016">{{item.title2}}</h3>
                <p class="summercamp-2016">{{item.paragraph2}}</p>
            </div>
            <br>
        {% endfor %}
        </div>
    </div>

    <!-- Sessions starts here -->
    <div class="container tab-pane fade in" id="sessions">
        <div class="col-md-8">
            <br>
            <h3 class="summercamp-header sessions">Sessions Offered</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th colspan="4">Week 1 (July 24 - 28)</th>
                    </tr>
                    <tr>
                        <td>Robot Design and Hardware</td><td>Software</td><td>Entrepreneurship and Web Design</td><td>Animation and Graphic Design</td>
                    </tr>
                    <tr>
                        <th colspan="4">Week 2 (July 31 - August 4)</th>
                    </tr>
                    <tr>
                        <td>Robot Design and Hardware</td><td>Software</td><td>Entrepreneurship and Web Design</td><td>Animation and Graphic Design</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <br>
            <p class="summercamp">{{site.data.summercamp-2017.Sessions1.paragraph}}</p>
        </div>
        <div class="col-md-12">
            <hr class="special-hr">
            <br>
        </div>
        {% for item in site.data.summercamp-2017.Sessions2 %}
            <div class="row less-marg">   
                <div class="col-md-6">
                    <h3 class="summercamp-header">{{item.title}}</h3>
                    <p class="summercamp">{{item.info}}</p>
                </div>
                <br>
                <div class="col-md-6">
                    <img src="{{item.img}}" class = "summercamp"/>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- FAQ starts here -->
    <div class="container tab-pane fade in" id="faq">
        <div class="col-md-12">
        <p class="summercamp">{{site.data.summercamp-2017.FAQEmail.info}}</p>
        {% for item2 in site.data.summercamp-2017.FAQ %}
            <h3 class="summercamp-header">{{item2.question}}</h3>
            <p class="summercamp">{{item2.answer}}</p>
        {% endfor %}
        </div>
    </div>
</div>

<!-- Body ends here -->

   