h1 {
	font-size: 70px; 
	color: #031D44;
}

h3 {
	font-size: 50px; 
	color: #000000;
}



* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
}

div {
	width: 100%;
	padding: 5px;
}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 0px !important;
}

div.header {
	height: 200px;
	background-color: #;
}

div.navbar {
	height: 30px;
	background-color: #;
}

div.body {
	padding: 0px !important;
}

div.content {
	width: 75% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #99ff99;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #ccccff;
}

div.footer {
	height: 100px;
	background-color: #ffe6b3;
}

body {
	background-color: #66b3ff; 
}