---
layout: home
title: Groups
permalink: groups/
---

<div class="row">
  <div class="large-12 columns">
    <!-- Header -->
    <h2>Paly Robotics Groups</h2>
  </div>
</div>

<br />

<div class="row show-for-medium-up">
  <div class="large-12 columns">
    <!-- Group description and photos (extra code for stagger) -->
    <ul class="medium-block-grid-2 large-block-grid-2">
      {% for group in site.data.page_about_groups %}
      {% if group.stagger == 0 %}
      <li>
	<img src="{{ group.image }}" width="100%">
      </li>
      <li>
	<h4>{{ group.name }}</h4>
	<p>{{ group.description }}</p>
      </li>
      {% endif %}
      
      {% if group.stagger == 1 %}
      <li>
	<h4> {{ group.name }} </h4>
	<p>{{ group.description }}</p>
      </li>
      <li>
	<img src="{{ group.image }}" width="100%">
      </li>	
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row hide-for-medium-up">
  <div class="large-12 columns">
    <!-- Group description and photos (resizing) -->
    {% for group in site.data.page_about_groups %}
    <ul class="small-block-grid-1">
      <h4>{{ group.name }}</h4>
      <p>{{ group.description }}</p>
      <img src="{{ group.image }}" width="100%">
      <hr />
    </ul>
    {% endfor %}
  </div>
</div>
