---
layout: home
title: Groups | Paly Robotics
permalink: groups/
---

<div class="row">
  <div class="large-12 columns">
    <h2>Paly Robotics Groups</h2>
  </div>
</div>

<br />

<div class="row show-for-medium-up">
  <div class="large-12 columns">
    {% for group in site.data.groups %}
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>
	<img src="{{ group.image1 }}" width="100%">
      </li>
      <li>
	<h4>{{ group.name1 }}</h4>
	<p>{{ group.description1 }}</p>
      </li>
    </ul>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>
	<h4>{{ group.name2 }}</h4>
	<p>{{ group.description2 }}</p>
      </li>
      <li>
	<img src="{{ group.image2 }}" width="100%">
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

<div class="row hide-for-medium-up">
	<div class="large-12 columns">
	{% for group in site.data.groups %}
	<ul class="small-block-grid-1">
		<h4>{{ group.name }}</h4>
		<p>{{ group.description }}</p>
		<img src="{{ group.image }}" width="100%">
		<hr />
	</ul>
	{% endfor %}
	</div>
</div>
