---
layout: home
title: Leads
permalink: leads/
---

<div class="row">
  <div class="large-12 columns">
    <!-- Header -->
    <h2>Paly Robotics Team Leads</h2>
  </div>
</div>

<br />

{% for lead in site.data.page_about_leads %}
<div class="row">

  {% capture side %}{% cycle 'even', 'odd' %}{% endcapture %}

  {% if side == 'odd' %}
    <div class="small-12 medium-5 columns">
      <img src="{{ lead.picture }}"></img>
    </div>
  {% endif %}
  
  <div class="small-12 medium-7 columns">
    <h5 style="font-weight: 500;">{{ lead.role }}</h5>
    <p style="font-size: 85%; font-weight: 600;">{{ lead.name }}</p>
    <p style="font-size: 75%; font-weight: 700; padding-bottom:5px;">{{ lead.email }}</p>
    <p style="font-size: 82%; line-height: 150%;">{{ lead.bio }}</p>
  </div>
    
  {% if side == 'even' %}
    <div class="small-12 medium-5 columns">
      <img src="{{ lead.picture }}"></img>
    </div>
  {% endif %} 
  
</div>

{% if forloop.last == false %}
<hr style="height: 1px !important;"/>
{% endif %}

{% endfor %}  
