/* stylesheet only for art page */

  h2.about-first {
      font-family:'Poppins',sans-serif;
      font-size:45px;
      text-align:left;
    }
    .first-container  {
      padding-top:120px;
    }
    .container {
      padding-left:15px;
      padding-right:15px;
    }
    p{
      font-family:'Poppins',sans-serif;
      font-size:20px;
    }
    hr {
      margin-bottom:35px;
    }
    
    /* for mobile */
    @media (max-width:767px) {
    .first-container {
        font-size:30px;
        padding-top:71px;
    }
    h2.about-first {
      font-size:30px;
    }

    hr {
        margin-top:40px !important;
    }
}

    h3{
      font-family: 'Poppins',sans-serif;
      font-size: 35px;
      margin-bottom:20px;
    }


    h3.Animation-title{
      text-align: center;
      font-size:35px;
      margin-bottom:25px;

    }

    .extra-padding{
      padding-bottom:45px;
    }    

    hr.padding{
      margin-top: 20px;
    }


    
    img.animation-img {
      padding-bottom:10px;
      padding-top:10px;
    }

