div.first-container {
    padding-top:150px;
}

h2.about-calendar {
    font-family:'Poppins',sans-serif;
    text-align:center;
    font-size:45px;
}
.calendar{
    height: 100%;
}
hr {
    margin-bottom:40px !important;
}

 @media (max-width:767px) {
    .first-container {
        padding-top:71px !important;
    }
    h2.about-calendar{
      font-size:30px !important;
    }
    hr {
        margin-top:39px !important;
    }
}
