/*****************************************************************************/
/*
/* General
/*
/*****************************************************************************/
hr {
    color: #000000 !important;
    background-color: #000000 !important;
    height: 2px !important; }

h4 {
    font-weight: 500;
}

.site {
  width: 90%; }

.row {
  width: 90% }

.header {
  width: 100%; }

.top-bar-section ul li:hover > a {
    background: #000000 !important; }

nav .topbar {
  width: 90% !important;}

h1, h2 {
    display: inline !important; }

a:visited {
    color: #008cba; }

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/



/*****************************************************************************/
/*                                                                                                                
/* Responsiveness                                                                                                 
/*                                                                                                               
/*****************************************************************************/
@media (max-width: 640px) {
  .row {
    min-width: 100% !important;
    max-width: 100% !important; }
  .site {
    width: 100% !important; }
  .content {
    width: 100% !important; }
}

@media (min-width: 1024px) {
  .row {
    min-width: 920px !important;
    max-width: 920px !important; }
  .site {
    width: 920px !important; }
}

/*****************************************************************************/
/*
/* Button
/*
/*****************************************************************************/
button.green, .button.green {
  background-color: #0A6805;
  border-color: none;
  color: white; }

  button.green:hover, button.green:focus, .button.green:hover, .button.green:focus {
    background-color: #093d06; }

  button.green:hover, button.green:focus, .button.green:hover, .button.green:focus {
    color: #white; }

/*****************************************************************************/
/*
/* Infinite Image
/*
/*****************************************************************************/
#container {
    position : relative;
    width    : 800;
    height   : 250px;
}

#container > img {
    position : absolute;
    top      : 0;
    left     : 0;
}
