body {
    font-family: 'Poppins', sans-serif;
}

/* sizing for head title and hr */
h2.robots-title {
    text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
    margin-top: 165px;
}

@media (max-width:767px) {
    h2.robots-title {
        font-size:30px;
        margin-top:90px;
    }
    hr.top-hr {
        margin-top:40px !important;
    }
}

/* removes green borders on the pills*/
li.active  {
    border-bottom:none;
}
a.active {
    background-color:green;
}

/* coloring a menu + increase font size */
a.menu {
    color:#333;
    font-size:21px;
    margin-bottom:7px;
}

h3 {
    font-size:33px;
    margin-top:0px;
}

/* section deals with inner descriptions for the robots */
h4 {
    text-align:left;
    margin-top:10px;
    font-size:23px;
    margin-bottom:15px;
}

div.inner {
    padding:0px;
} 

ul.unstyled {
    list-style-type:none;
    padding-left:0px;
    font-size:16px;
}

li.abilities {
    font-size:15px !important;
}

div.row {
    padding-left:15px;
    padding-right:15px;
}
/* deals with the specifications styling*/
span.label {
    padding:3px 5px 3px 5px;
    background-color:#337ab7;
    font-size:14px;
}

li.specifications {
    margin-bottom:9px;
}