div.no-marg {

}
h2.sponsor-h2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
    margin-top: 165px;
}
hr {
	margin-top:76px;
	margin-bottom:0px;	
}

@media (max-width:767px) {
    h2.sponsor-h2 {
        font-size:30px;
        margin-top:90px;
    }
    hr {
        margin-top:40px !important;
    }
}


p.sponsor {
	font-size: 19.5px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

ul {
	font-family: 'Poppins', sans-serif;
	font-size:17px;
}