body {
    font-family: 'Poppins', sans-serif;
}

h2.summercamp-title {
    text-align: left;
	font-size: 48px;
    margin-top: 100px;
}

/* for mobile */
@media (max-width:767px) {
    h2.summercamp-title {
        font-size:30px;
        margin-top:90px;
    }
    hr.top-hr {
        margin-top:40px !important;
    }
}

h3.summercamp-header {
	font-size: 32px;
}

h3.summercamp-header.sessions {
    margin-bottom:25px;
}

h3.summercamp-header2 {
    font-size: 32px;
    margin-top:7px;
}

h3.group-img-header {
	font-size: 32px;
    margin-top: 45px !important;
    text-align: center;
}

img.summercamp {
    width: 95% !important;
    margin: 10px;
    margin-bottom: 30px;
}

img.group-img {
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 50px !important;
}

p.summercamp {
    font-size: 19.5px;
    margin-top: 30px;
}
p.summercamp-paragraph {
    font-size: 19.5px;

    margin-bottom: 20px;
}
hr.top-hr {
    margin-top: 30px;
    margin-bottom:0px;
}

a.paragraph-links {
    font-size:22px;
}

li {
    font-size:22px;
}
li.active  {
    border-bottom:none;
}
a.active {
    background-color:green;
}


a.menu {
    color:#333;
    margin-top: 15px;
}


div.less-marg {
    margin:0px;
}

a.paragraph-links {
    font-size:19px;
}


hr.special-hr {
    margin-top:40px;
}

.session-td {
	width: 25%;
	text-align: center;
	vertical-align: middle !important;
}

table.table{
    font-family: 'Poppins', sans-serif;
    font-size:19px;
}


/*form styles*/
form {
    position: relative;
    margin-top: 30px;
}

fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
.action-button {
    width: 100px;
    background: green;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button:active:hover:not([disabled]) {
    box-shadow: 0 0 0 2px white, 0 0 0 3px green;
}

.action-button:disabled {
    width: 100px;
    background: lightgray;
    font-weight: bold;
    color: white;
    border: 0 none !important;
    border-radius: 25px;
    padding: 10px 5px;
    margin: 10px 5px;
}



/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    
    text-align: center;
    padding: 0;

}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    background: lightgray;
    border-radius: 25px;
    margin: 0 auto 10px auto;

}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/

}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: green !important;
    color: white;

}

.form-check-label {
    font-weight: normal !important;
}

.help-text {
    font-size: 12px;
    display: block;
    font-weight: normal !important;
}