body {
    font-family: 'Poppins', sans-serif;
}

h2.summercamp-title {
    text-align: center;
	font-size: 48px;
    margin-top: 165px;
}

@media (max-width:767px) {
    h2.summercamp-title {
        font-size:30px;
        margin-top:90px;
    }
    hr.top-hr {
        margin-top:40px !important;
    }
}

h3.summercamp-header {
	font-size: 32px;
}

h3.summercamp-header.sessions {
    margin-bottom:25px;
}

h3.summercamp-header2 {
    font-size: 32px;
    margin-top:7px;
}

h3.group-img-header {
	font-size: 32px;
    margin-top: 45px !important;
    text-align: center;
}

img.summercamp {
    width: 95% !important;
    margin: 10px;
    margin-bottom: 30px;
}

img.group-img {
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 50px !important;
}

p.summercamp {
    font-size: 19.5px;
    margin-top: 30px;
}
p.summercamp-paragraph {
    font-size: 19.5px;

    margin-bottom: 20px;
}
hr.one-hr {
    margin-top:77px;
    margin-bottom:0px;
}

a.paragraph-links {
    font-size:22px;
}

li {
    font-size:22px;
}
li.active  {
    border-bottom:none;
}
a.active {
    background-color:green;
}


a.menu {
    color:#333;
    margin-top: 15px;
}


div.less-marg {
    margin:0px;
}

a.paragraph-links {
    font-size:19px;
}


hr.special-hr {
    margin-top:40px;
}

.session-td {
	width: 25%;
	text-align: center;
	vertical-align: middle !important;
}
