  div.first-container {
    padding-top: 100px;
  }
  
  h2 {
    text-align: left;
    font-size: 45px;
  }
  
  hr {
    margin-top:17px;
    margin-bottom: 20px !important;
  }
  
  @media (max-width:767px) {
    div.first-container {
        padding-top:70px;
    }
    h2 {
        font-size:30px !important;
    }
    hr {
        margin-top:30px !important;
    }
}

  body {
    font-family: 'Poppins', sans-serif;
  }
  a {
    text-decoration: none !important;
  }
  p {
    font-size: 15px;
  }