* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
}

div {
	width: 100%;
	padding: 5px;
}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 0px !important;
}

div.header {
	height: 200px;
	background-color: #99dfff;
}

div.navbar {
	height: 30px;
	background-color: #7d7d7d;
}

div.body {
	padding: 0px !important;
}

div.content {
	width: 75% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #99dfff;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #ccccff;
}

div.footer {
	height: 100px;
	background-color: #ffe6b3;
}


p.grey {
	color:#7d7d7d;
}

li{
	display: inline;
	padding: 10px;
}

p.skyblue{
	color:skyblue !important;
}

a, a:visited{
	color: #0062FF;
}
