<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>{{ page.title }}</title>

    <style type="text/css">
    </style>

  </head>
  <body>
    <div class="site">
      <div class="header">
	<strong class="show-for-medium-up">
	  <div class="row">
	    <div class="large-7 small-11 columns">
              <a href="/">
		<img src="/assets/img/robotics_logo.png" width="100" height="50">
		<h2>Paly Robotics</h2>
	      </a>
	    </div>
            <div class="large-5 small-1 columns show-for-large-up">
	      <br />
              <h6 align="right" title="2013 Web Team Rocks">A FIRST Robotics Team since 1996</h6>
              <h6 align="right" title="Watch Counter Logic Gaming!">Palo Alto High School</h6>
	      <h6 align="right">FRC #8</h6>
	    </div>
	  </div>
	</strong>
      </div>


      <!-- Top bar stuffs-->
      <nav class="top-bar hide-for-small" style="top:5px" data-topbar>
	<ul class="title-area">
	  <!-- Title Area -->
	  <li class="name">
	    <h1><a href="/">Home</a></h1>
	  </li>
	</ul>
	
	<section class="top-bar-section">
	  <ul class="right">
	    <li class="divider"></li>
	    <li class="has-dropdown not-click"><a href="/about/about.html">About</a>
	      <ul class="dropdown">
		<li><a href="/about/twitter.html">Twitter</a></li>
		<li class="has-dropdown not-click"><a href="/about/members.html">Members</a>
		  <ul class="dropdown">
		    <li><a href="/about/join.html">Join</a></li>
		  </ul>
		</li>
		<li><a href="/about/sponsors.html">Sponsors</a>
		<li><a href="/about/website.html">Website</a></li>
		<li><a href="/about/teams.html" title="Now with 200% more content!">Teams</a></li>
	      </ul>
	    </li>
	    <li class="divider"></li> 
	    <li><a href="/calendar.html">Calendar</a></li>
	    <li class="divider"></li>
	    <li class="has-dropdown not-click"><a href="/first.html">FIRST</a>
              <ul class="dropdown">
		<li><a href="/challenge.html">FRC 2013 Challenge - Ultimate Ascent</a></li>
              </ul>
            </li>
	    <li class="divider"></li>  
	    <li><a href="/parents.html">For Parents</a></li>
	    <li class="divider"></li>
	    <li><a href="/contact.html">Contact Us</a></li>
	    <li class="divider"></li>  
	  </ul>
	</section>
      </nav>

      <!-- Menu icon stuffs -->
      <nav class="tab-bar show-for-small">
	<section class="left-off-canvas-toggle menu-icon">
	  <a class="left-off-canvas-toggle menu-icon">
	    <span title="Can't figure out how to get the span class to work with spaces">
	      Paly_Robotics
	    </span>
	  </a>
	</section>
      </nav>
      <!-- Aside class -->
      <aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
	  <li>
	    <label>Paly Robotics</label>
	  </li>
	  <li>
	    <a href="/">Home</a>
	  </li>
	  <li>
	    <a href="/calendar.html">Calendar</a>
	  </li>
	  <li>
	    <a href="/parents.html">For Parents</a>
	  </li>
	  <li>
	    <a href="/contact.html">Contact Us</a>
	  </li>
	  <li>
	    <label>About</label>
	  </li>
	  <li>
	    <a href="/twitter.html" title="D:">Twitter</a>
	  </li>
	  <li>
	    <a href="/members.html">Members</a>
	  </li>
	  <li>
	    <a href="/join.html">Join</a>
	  </li>
	  <li>
	    <a href="/sponsors.html">Sponsrs</a>
	  </li>
	  <li>
	    <a href="/website.html">Website</a>
	  </li>
	  <li>
	    <a href="/teams.html">Teams</a>
	  </li>
	  <li>
	    <label>First</label>
	  </li>
	  <li>
	    <a href="/challenge.html">FRC 2013 Challenge</a>
	  </li>
	</ul>
      </aside>

      <br />
      
      {{ content }}
      
      <div class="footer">
	<br />
	<div class="row">
	  <div class="large-6 small-6 columns">
	    <a href="/about/join.html" class="large button expand green">Join The Team</a>
	  </div>
	  <div class="large-6 small-6 columns">
	    <a href="/sponsor.html" class="large button expand green">Sponsor Us</a>
	  </div>
	</div>
	<p style="font-size:10px">Site made by Paly Robotics Web Team</p>
      </div>
      
    </div>
  </body>
</html>
