<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {% if page.url == "/404.html" %}
       <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>{{ page.title }} | {{ site.name }}</title>
    
    <link rel="shortcut icon" href="https://f.cloud.github.com/assets/1234764/1847924/bcffcd72-7670-11e3-8ee5-a76ecefba6ef.png" type="image/png">
    <link rel="icon" href="https://f.cloud.github.com/assets/1234764/1847924/bcffcd72-7670-11e3-8ee5-a76ecefba6ef.png" type="image/png">
    
    <script type="text/javascript" src="/assets/foundation/js/custom.modernizr.js"></script>    

  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.analytics.code }}', '{{ site.analytics.url }}');
      ga('send', 'pageview');

    </script>    
    <div class="site">
      
      <!-- Off canvas wrap stuffs-->
      <!--[if !IE><!-->
      <div class="off-canvas-wrap" style="top:-55px">
	<div class="inner-wrap">
	  <!--<![endif]-->
	  <div class="header">
	    <br class="show-for-large-up" />
	    <div class="row">
	      <div class="large-7 small-11 columns">
		<a href="/">
		  <img src="/assets/img/logos/main_logo.png" width="100" height="50">
		  <div class="show-for-small-only">
		    <h2 style="display:inline; margin-left:-10px;">Paly Robotics</h2>
		  </div>
		  <div class="show-for-medium-up">
		    <h2 style="display:inline;">Paly Robotics</h2>
		  </div>
		</a>
	      </div>
	      <div class="large-5 small-1 columns show-for-large-up">
		<br />
		<h6 style="text-align: right !important;">A FIRST Robotics Team since 1996</h6>
		<h6 style="text-align: right !important;">Palo Alto High School</h6>
		<h6 style="text-align: right !important;">FRC Team #8</h6>
	      </div>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="small-12 columns">
	      <!-- Top bar stuffs-->
	      <nav class="top-bar hide-for-small" style="top:5px" data-topbar>
		<ul class="title-area">
		  <!-- Title Area -->
		  <li class="name">
		    <h1><a href="/">Home</a></h1>
		  </li>
		  <li class="divider"></li>
		</ul>
		
		<section class="top-bar-section">
		  <ul class="right">
		    <li class="divider"></li>
		    <li class="has-dropdown not-click"><a href="#">About</a>
		      <ul class="dropdown">
			{% for page in site.data.pages.about %}
			<li><a href="{{ page.link }}">{{ page.name }}</a></li>
			<li class="divider">
			{% endfor %}
		      </ul>
		    </li>
		    <li class="divider"></li> 
		    {% for page in site.data.pages.other %}
		    <li><a href="{{ page.link }}">{{ page.name }}</a></li>
		    <li class="divider"></li>
		    {% endfor %}
		  </ul>
		</section>
	      </nav>
	    </div>
	  </div>
	  
	  
	  <!--[if !IE]><!-->
	  <!-- Menu icon stuffs -->
	  <nav class="tab-bar show-for-small">
	    <a class="left-off-canvas-toggle menu-icon">
	      <span>
		Paly&nbsp;Robotics
	      </span>
	    </a>
	  </nav>
	  <!-- Aside class -->
	  <aside class="left-off-canvas-menu">
	    <ul class="off-canvas-list">
	      <li>
		<label>Menu</label>
	      </li>
	      <li>
		<a href="/">Paly Robotics</a>
	      </li>
	      <li>
		<a href="#">About</a>
	      <li>
	      {% for page in site.data.pages.about %}
	      <li style="background-color: #3B3B3B">
		<a href="{{ page.link }}">  {{ page.name }}</a>
	      </li>
	      {% endfor %}
	      {% for page in site.data.pages.other %}
	      <li>
		<a href="{{ page.link }}">{{ page.name }}</a>
	      </li>
	      {% endfor %}
	      <li>
	    </ul>
	  </aside>
	  <!--<![endif]-->
	  	  
	  {{ content }}

	  <div class="row">
	    <div class="large-12 columns">	  
	      <div class="footer">
		<br />
		<div class="row show-for-medium-up">
		  <div class="medium-6 columns">
		    <a href="/about/join" class="large button expand green">Join The Team</a>
		  </div>
		  <div class="medium-6 columns">
		    <a href="/sponsor" class="large button expand green">Sponsor Us</a>
		  </div>
		</div>

		<div class="row hide-for-medium-up">
                  <div class="small-12 columns">
                    <a href="/about/join" class="large button expand green">Join The Team</a>
                  </div>
		</div>
		<div class="row hide-for-medium-up">
                  <div class="small-12 columns">
                    <a href="/sponsor" class="large button small-center green">Sponsor Us</a>
                  </div>
                </div>

		
		<div class="row" style="font-size:10px">
		  <div class="small-12 columns">
                    Site &copy; Paly Robotics 2014
		  </div>
		</div>
	      </div>
	    </div>
	  </div>	  
	  
	  <!-- Off canvas wrap stuff -->
	  <!--[if !IE]><!-->
	</div>
      </div>
      <!--<![endif]-->

      <!-- Script stuffs -->
      <script type="text/javascript" src="/assets/foundation/js/jquery.js"></script>
      <script type="text/javascript" src="/assets/foundation/js/foundation.min.js"></script>
      <script type="text/javascript" src="/assets/foundation/js/foundation/foundation.clearing.js"></script>
      <script type="text/javascript" src="/assets/js/custom.js"></script>
      {% if page.news_page %}
      <script src="/assets/js/routie.js"></script>
      <script src="/assets/js/news-page.coffee.js"></script>
      {% endif %}
      <script type="text/javascript">
        $(document).foundation();
      </script>
  </body>
</html>
