---
layout: home
---

<div class="row">
  <div class="small-12 columns">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<br />

<div class="row">
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Previous</a>
  </div>
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Random</a>
  </div>
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Next</a>
  </div>
</div>

<br />

<div class="row">
  <div class="small-12 columns">
    {{ content }}
  </div>
</div>

<br />

<div class="row">
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Previous</a>
  </div>
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Random</a>
  </div>
  <div class="small-4 columns">
    <a href="/rekt" class="small button expand">Next</a>
  </div>
</div>
